@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  min-height: 100vh;
  font-size: 16px;
  background-color: #FFE6D0;
}

.container .banner {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .banner .left {
  padding: 0 4em;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  background-color: crimson;
  position: relative;
}

.container .banner .left::after {
  content: "";
  height: 20vh;
  aspect-ratio: 1;
  background-color: crimson;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  position: absolute;
  right: -10%;
}

.container .banner .left > img {
  width: 7.5em;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .banner .left h1, .container .banner .left p {
  font-size: 2.5em;
  color: white;
}

.container .banner .right {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 8em;
  background-color: #FFE6D0;
}

.container .banner .right .row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
}

.container .banner .right .row .fa, .container .banner .right .row .fas {
  font-size: 2.5em;
  color: orangered;
}

.container .banner .right .row h1 {
  font-size: 2.5em;
}

.container .banner .right .row h1 span {
  color: orangered;
}

.container .banner .right p {
  font-size: 1.8em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.container main {
  padding: 4em;
}

.container main .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

.container main .header h1 {
  font-size: 2em;
  font-weight: 400;
}

.container main .header p {
  font-size: 1.5em;
  color: gray;
}

.container main .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 0;
  gap: 2em;
}

.container main .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  min-width: 360px;
  max-width: 420px;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: white;
  -webkit-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.25);
}

.container main .cards .card .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container main .cards .card .row .win {
  color: green;
}

.container main .cards .card .row h2 {
  font-size: 3rem;
  color: brown;
}

.container main .cards .card .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container main .cards .card .row .col p {
  font-size: 1.5rem;
  color: gray;
}

.container main .cards .card .row .col p:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.container main .cards .card .row .row {
  font-size: 1.25rem;
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 1em;
}

.container main .cards .card .row .row h3 {
  font-weight: 400;
}

.container main .cards .card .row .dbg {
  background-color: darkblue;
  color: white;
}

.container main .cards .card .row .bbg {
  background-color: royalblue;
  color: white;
}

.container main .cards .card .row .dark {
  background-color: black;
  color: white;
}

.container main .cards .card .row .maroon {
  background-color: maroon;
  color: white;
}

.container main .cards .card .row .brick {
  background-color: firebrick;
  color: white;
}

.container main .cards .card section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.container main .cards .card section .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.container main .cards .card section .row .bold {
  font-weight: 700;
}

.container main .cards .card section .row .hr {
  width: 50px;
  height: 1px;
  background-color: gray;
}

.container main .cards .card section .row p {
  font-size: 1rem;
  color: gray;
}

.container main .cards button {
  width: 240px;
  padding: 1rem;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid orangered;
  background: white;
  color: orangered;
  cursor: pointer;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 1260px) {
  .container {
    font-size: 10px;
  }
  .container .banner {
    height: 10vh;
  }
  .container .banner .left::after {
    height: 10vh;
  }
}

@media (max-width: 768px) {
  .container {
    font-size: 7px;
  }
}

@media (max-width: 640px) {
  .container {
    font-size: 5px;
  }
  .container .banner {
    height: 6vh;
  }
  .container .banner .left::after {
    height: 6vh;
  }
}

@media (max-width: 365px) {
  .container {
    min-width: 360px;
  }
}
/*# sourceMappingURL=style.css.map */